sudo: required

os:
  - linux
  - osx

osx_image: xcode11.2

services:
- docker

archlinux:
  packages:
  - lldb
  - llvm
  - clang
  - ninja
  - cmake
  - gtest
  script:
  - "./ci/travis.sh"

script:
  - "./ci/run-arch.sh"
  - travis_wait 20 bash -x "./ci/run-macOS.sh"
